.home5 .about .box .inner-box .icon i {
	background: #3feade;
	background: linear-gradient(to right, #3feade, #49978f);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.home5 .about .box::after {
	background: #031d3f;
	background: linear-gradient(to right, #031d3f, #003480);
}
.flex_full_center {
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.navigation {
	&.stiky-nav {
		.navbar .navbar-brand img {
			filter: brightness(0) invert(1);
		}
	}
	.navbar .navbar-brand img {
		filter: brightness(0) invert(1);
	}
}

.font-bold {
	font-weight: bold;
}

.bangla-pg{
	font-size: 22px;
}
.bangla-heading {
	font-size: 50px;
}

.bigbtn.font-bangla{
	font-size: 24px;
}