.home5 .about .box .inner-box .icon i {
	background: #3feade;
	background: linear-gradient(to right, #3feade, #49978f);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.home5 .about .box::after {
    background: #031d3f;
    background: linear-gradient(to right, #031d3f, #003480);
}